<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>WannaEat</title>
  </head>
  <body>
    <center>
      <h1>Whatchu Wanna Eat?</h1>

      <form action="/search" method="get">
        <input type="submit" value="Search">
        <input id="searchInput" type="text" name="search" placeholder="Type Search"/>
        <input type="text" name="location" value="Murrysville">
      </form>

      <br>
      <img src="https://i.ytimg.com/vi/Un-iZkXH13Y/maxresdefault.jpg" alt="Whatchu Wanna Eat?">
    </center>
  </body>
</html>
