<% include partials/header %>

    <div class="landing align-middle">
      <h1>Whatchu Wanna Eat?</h1>
      <div class="formContainer">
        <form action="/search" method="get" class="form-inline">
          <input class="form-control mb-2 mr-sm-2 mb-sm-0" type="text" name="search" placeholder="Enter Search..."/>
          <input class="form-control mb-2 mr-sm-2 mb-sm-0" type="text" name="location" value="Murrysville" placeholder="Enter Location...">
          <input class="btn btn-primary" type="submit" value="Search">
        </form>
      </div>
    </div>

<% include partials/footer %>
